{% extends "layout/basic.html" %}
{% block content %}
{% if message %}
    <div id="inner">
        <b>{{ message }}</b>
        <script type="text/javascript">
            $("#inner").css("color", "red")
        </script>
    </div>
{% else %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-6 offset-0">
            <h1>Weather in your city</h1>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="send" value="To know" class="mt-2 btn btn-danger">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% else %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </form>
            </div>
            <div class="col-4 offset-0">
                <h1>Information</h1>
                {% for info in all_cities %}
                    <b>City:</b> {{ info.city }}<img src="https://openweathermap.org/img/w/{{ info.icon }}.png" alt="Weather_photo" class="img-thumbnail"><br>
                    <b>Temperature:</b> {{ info.temp }}<sup>o</sup>C<br>
                    <b>Humidity:</b> {{ info.humidity }}% <br>
                    <b>Pressure:</b> {{ info.pressure }} kPa <br>
                    <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="delete">
                    <input name="city_name" id="city_name" value="{{ info.city }}"hidden>
                    <input value="Delete" type="submit" class="mt-2 btn btn-info">
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
{% endblock%}