img {
    width: 150px;
    float: left;
    padding: 2.5%;
}

.img-thumbnail {
    width: 70px;
    float: right;
}

.info {
    width: 500px;
    float: right;
}

alert alert-info.btn btn-success {
    float: right;
}
