{% extends "layout/basic.html" %}
<title>{% block title %}Неизвестные факты о погоде{% endblock %}</title>
{% block content %}
<h1>Неизвестные факты о погоде</h1>
<p>Метеорология ― самая молодая естественная наука. Вместе с тем, первые прогностические выводы люди научились делать еще в Древней Греции. Известно, что жена Сократа обладала сварливым характером. Однажды она так достала супруга, что тот вышел из дома и сел на порог, взявшись за голову. Тогда она вылила на него ведро воды. «После грома всегда следует дождь!» ― воскликнул философ.</p>
<ol>
    <li>Люди по-разному воспринимают погоду. Некоторые, в том числе и сильные личности, подвержены метеопатии. Например, Наполеон, при всей своей энергичности, в непогоду терял самообладание, становился вялым и подавленным. Так произошло в окрестностях Ватерлоо, когда многообещающий день начался сильным ливнем, а завершился полным разгромом.</li>
    <li>Самый первый прогноз погоды был опубликован в лондонской Times 1 августа 1861 года. Его автором был Роберт Фицрой — вице-адмирал королевского флота. Ранее Р. Фицрой возглавлял научную экспедицию на корабле «Бигль» с участием Ч. Дарвина.</li>
    <li>Ливневый дождь не дал публике услышать лучшую речь Бернарда Шоу, как считал он сам. Писатель произнес ее в Гайд-парке всего для семи человек: один был секретарем общества, пригласившего Шоу на выступление, а остальные шесть — полицейскими, которые охраняли порядок.</li>
    <li>Нередко капризы погоды оказывали влияние на моду. Так, английский король Эдуард VII, сын королевы Виктории, однажды во время дождя закатал брюки. После этого в моду вошли манжеты.</li>
    <li>Самый первый телевизионный прогноз погоды был показан на телеканале BBC в Англии 11 ноября 1936 года.</li>
    <li>Многие видели хронику, когда под барабанную дробь фашистские флаги бросали к подножью Мавзолея. Но не многие знают, что этому чуть не помешала погода. Пошел дождь, и кожа барабанов намокла — дроби не было! В ГУМе устроили печи: одни барабаны сушились, а в другие — били.</li>
    <li>В Португалии уважительной причиной неявки на работу является ненастная погода.</li>
    <li>В процессе наблюдения за погодой появились разные температурные шкалы. Наибольшее распространение получила шкала Цельсия, где за 0 принята температура замерзания воды. Однако в Северной Америке прижилась шкала Фаренгейта. Любопытно, что в одном значении обе шкалы все-таки сходятся. Температура −40 по Цельсию точно равна температуре −40 по Фаренгейту.</li>
    <li>Для метеорологов самый хороший антициклон хуже самого плохого циклона.</li>
    <li>Из всех народных примет лучше всего оправдываются крещенские морозы и черемуховые холода.</li>
    <li>1 мм осадков — это 1 литр воды на площади 1 кв. м.</li>
    <li>Одно из самых солнечных мест на планете Земля — это Мертвое море. Здесь около 330 солнечных дней в году! Синоптики с прогнозами особо не парятся. Зато парятся отдыхающие.</li>
</ol>
{% endblock %}